* {
    -webkit-box-sixing: border-box;
    -moz-box-sizing: border-box; 
    box-sizing: border-box;
}

body{
    background-color:black;
    font-family: Verdana,sans-serif;
    color:whitesmoke;
    display:block;
    margin: 0;
    padding: 0;
}

a {
    color:inherit;
    text-decoration:none !important;
}

h1 {
    font-size: 30px;
}

header {
    background: rgba(45,45,45,0.98);
    overflow: hidden;
    font-size: 17px;
    width: 100%;
    height: 50px;
    position: fixed;
    text-align: center;
    white-space: nowrap;
    top:0;
    padding-left: 20vw;
    padding-right: 20vw;
    z-index: 1;
}

header a {
    float:left;
    padding:11pt;
    text-align: center;
    display:block;
    margin:0 auto;
    border-radius: 4px;
    transition: all 0.2s ease-in-out;
    width:20%;
}

a:hover {
    background-color: grey;
    cursor: pointer;
}

#main-section {
    height: 100%;
    width:100%;
}

.main {
    display: none;
}

.content {
    display: inline-block;
    vertical-align: middle;
    height: 100vh;
    width:100%;
    position: relative;
}

h1 {
    text-align: center;
}


#intro {
    background-color: #1fc8db;
    background-image: linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
    color:black;
}

#intro-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    flex-grow: 1;
}


#intro-section img{
    max-width: 150px;
    max-height: 150px;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    transition: .5s ease;
}

#describe {
    display: flex;
    flex-wrap: wrap;
    padding:0px;
    text-align: justify;
    margin-left:20%;
    margin-right:20%;
}

#describe p {
    margin:0px;
    font-size:20px;
}

#experience {
    color:rgb(22, 11, 71);
    background-color: #FBAB7E;
    background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);

}

#experience-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    flex-grow: 1;
}

.experience-contents{
    display:none;
    margin-left:20%;
    margin-right:20%;
    text-align: center;
}

#skills {
    color: black;
    background: rgb(34,193,195);
    background: linear-gradient(172deg, rgba(34,193,195,1) 0%, rgba(186,150,73,1) 100%);
}
#skills-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    flex-grow: 1;    
}

.skills-contents {
    display:none;
    margin-left:20%;
    margin-right:20%;
    align-items: left;
}

.skill-lists {
    display: inline-block;
    width: 50%;
    word-wrap: break-word;
}

#education {
    background: rgb(35,81,58);
    /*background: linear-gradient(90deg, rgba(28,36,48,1) 0%, rgba(64,86,119,1) 100%);*/
}

#education-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    flex-grow: 1;
    color:honeydew;
}

.education-contents {
    align-items: left;
}

.education-contents p {
    color:peachpuff;
}

.education-contents i {
    color: black;
}

#contact {
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(144,129,168,1) 0%, rgba(144,129,168,1) 90.1% );
}

#contact-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    flex-grow: 1;
    color: black;
}

.contact-contents img {
    vertical-align: middle;
}

progress {
    width: 50%;
    
}

progress[value]::-webkit-progress-value {
    background-color: #eee;
    border-radius: 2px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

progress[value]::-moz-progress-bar {
    background-color: rgb(19, 111, 117);
    border-radius: 2px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

.page-number {
    
    color:dimgray;
}

.profile-keyword, .profile-keyword-dot {
    text-align: left;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 40px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    position: fixed;
  }
  
  /* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

   /* Position the "previos button" to the right */
.prev {
    left: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }

/* The dots/bullets/indicators */
.exp-dot, .skill-dot {
    cursor: pointer;
    height: 5px;
    width: 20px;
    margin: 0 2px;
    background-color:black;
    
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
.active, .exp-dot:hover, .skill-dot:hover {
    background-color: #717171;
  }




@media screen and (max-width: 600px) {
    
    header {
        background: rgba(45,45,45,0.98);
        overflow: hidden;
        font-size: 17px;
        width: 100%;
        height: 50px;
        position: fixed;
        text-align: center;
        white-space: nowrap;
        top:0;
        z-index: 1;
    }
    
    header a {
        float:left;
        padding:10pt;
        text-align: center;
        display:block;
        margin:0 auto;
        border-radius: 4px;
        transition: all 0.2s ease-in-out;
    }
}